body {
	background-color: #000
}
#console {
	font-family: courier, monospace;
	color: #fff;
	width:80vw;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size: 2rem;
	padding: 15px;
	background-color: #111111;
	border-radius: 10px;

}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: rgb(83, 163, 248);
}

#c {
	color: #0bc;
}

#b {
	color: #00ff84;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  rgb(0, 217, 255); }
    	50% { color:  rgb(0, 119, 255); }
    	99% { color: black; }
}
